body {
  margin: 0;
  padding: 0;

  /*background: #bebbb6;*/
  background: #212121
}

canvas {
  height: 100vh;
  margin: auto;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  border-top: 1px grey solid;
  border-bottom: 1px grey solid;
}
